// fonts
$font-main: 'Cute Font', cursive;
$font-txt: 'Roboto';

//colors

$blue: #A1c3d1;
$lilac: #B39BC8;
$lightlilac: #DDBBD6;
$purple: #332a3b;
$white: #F0EBF4;
$lpink: #F172A1;
$spink: #E64398;

