//grid + layout stuff

.main {
  margin: 0 15px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 20vh;
  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh;
    margin: 0 30px;
  }
  @include desktop {
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1000px;
  }
}
.sectionTwo {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-evenly;
  @include tablet {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    flex-direction: column;
  }
}

.sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sectionThree {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

//other style stuff

.main {
  font-family: $font-main;
  color: $spink;
}

.container {
  height: 100%;
  width: 100%;
  background-color: $white;
  opacity: 50%;
  border-radius: 10px;
  padding: 10px;
}

.section__title {
  font-size: 22px;
  text-align: center;
  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 45px;
  }
}

.sectionTwo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__button {
    height: 80px;
    width: 80px;
    border: 2px solid $lilac;
    border-radius: 5px;
    font-family: $font-main;
    font-size: 30px;
    line-height: 30px;
    color: $purple;
    &:active {
      transform: scale(1.02);
    }
    @include tablet {
      height: 160px;
      width: 160px;
      font-size: 60px;
      line-height: 60px;
      order: 4px solid $lilac;
    }
    @include desktop {
      height: 180px;
      width: 180px;
      font-size: 80px;
      line-height: 80px;
      border: 4px solid $lilac;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.displayImgDiv {
  background-color: rgb(255, 239, 254);
  width: 120px;
  height: 120px;
  margin-top: 20px;
  @include tablet {
    width: 200px;
    height: 200px;
  }
  @include desktop {
    width: 350px;
    height: 350px;
  }
}
.displayImg {
  width: inherit;
  opacity: 100%;
}

.displayTxt {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  line-height: 32px;
  font-size: 32px;
  border: 2px solid $lilac;
}

.reactNow {
  animation: reactBoop 1s;
}

@keyframes reactBoop {
  from {
    position: absolute;
    transform: scale(1.4);
    left: 30%;
    top: 30%
  }
  to {
    position: static;
    transform: scale(1);
    left: 0;
    top: 0
  }
}